#first-v{
    background-image:url("../img/bg1.jpg");
    background-size:cover;
    height:100vh;
    width:100%;
    position:relative;
    color:#fff;
}

.first-v__wrap{
    width:200px;
    height:240px;
    display:flex;
    justify-content: space-between;
    flex-direction:column;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    height:30%;
    text-align:center;

    @include sp{
        height:50%;
        top:65%;
    }  
}

.catch{
    color:#fff;
    font-size:2.7rem;
    font-weight: bold;
}
.catch::after{
    display:block;
    width:9.7rem;
    content:"";
    border-bottom:1px solid #fff;
    margin:2rem auto 0;
}

.fv-btn{
    width:200px;
    height:50px;
    background:linear-gradient(to right, $sky, $navy);
    color:#fff;
    border:none;
    border-radius:5px;
    box-shadow:0 5px #070707;
}

.btn-icon{
    margin-right:4px;
}